.employees-page {
  padding: 20px;
}

/* HEADER */
.page-header h1 {
  margin: 0;
}

.page-header p {
  color: #666;
  margin-bottom: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

/* FORM */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* BUTTONS */
.btn-primary {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-green {
  background: #10b981;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
}

.btn-gray {
  background: #64748b;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}
.status-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.toggle-icon {
  font-size: 28px;
  transition: 0.3s;
}

/* ACTIVE */
.active {
  color: green;
  font-weight: 600;
}

/* INACTIVE */
.inactive {
  color: red;
  font-weight: 600;
}

/* ICON COLORS */
.status-toggle .material-icons {
  color: #9ca3af;
}

.status-toggle:hover .material-icons {
  transform: scale(1.2);
}

/* ACTIVE ICON */
.status-toggle .material-icons.toggle_on {
  color: #22c55e;
}

/* INACTIVE ICON */
.status-toggle .material-icons.toggle_off {
  color: #ef4444;
}