<div class="verify-page">

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Loading certificate...
  </div>

  <!-- ERROR -->
  <div *ngIf="error" class="error">
    Failed to load certificate
  </div>

  <!-- CONTENT -->
  <div
    class="verify-card"
    *ngIf="!loading && !error"
  >

    <!-- VALID -->
    <div *ngIf="valid">

      <div class="success-icon">
        ✔
      </div>

      <h1>
        Certificate Verified
      </h1>

      <p>
        This certificate is valid.
      </p>

      <div class="details">

        <p>
          <strong>Employee:</strong>
          {{ certificate.name }}
        </p>

        <p>
          <strong>Award:</strong>
          {{ certificate.award_title }}
        </p>

        <p>
          <strong>Certificate ID:</strong>
          {{ certificate.certificate_id }}
        </p>

        <p>
          <strong>Status:</strong>
          {{ certificate.status }}
        </p>

      </div>

      <a
        [href]="certificateDownloadUrl"
        target="_blank"
        class="download-btn"
      >
        Download Certificate
      </a>

    </div>

    <!-- INVALID -->
    <div *ngIf="!valid">

      <div class="invalid-icon">
        ✖
      </div>

      <h1>
        Invalid Certificate
      </h1>

      <p>
        This certificate could not be verified.
      </p>

    </div>

  </div>

</div>