<div class="knowledge-page">

  <div class="header">

    <h1>AI Knowledge Base</h1>

    <p>
      Upload company PDFs for AI learning
    </p>

  </div>

  <div class="upload-card">

    <input
      type="file"
      accept=".pdf"
      (change)="onFileSelected($event)"
    />

    <button
      (click)="uploadPDF()"
      [disabled]="loading || !selectedFile">

      {{ loading ? 'Uploading...' : 'Upload PDF' }}

    </button>

  </div>

  <div *ngIf="response" class="result-card">

    <h3>Upload Result</h3>

    <p>{{ response.message }}</p>

    <p>
      Chunks Created:
      {{ response.chunks }}
    </p>

  </div>

</div>
