<div class="task-container">

  <h2>My Tasks</h2>

  <div *ngFor="let task of tasks" class="task-card">

    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>

    <p>Status: {{ task.status }}</p>
    <p>Approval: {{ task.completion_status }}</p>
    <p *ngIf="task.completion_status === 'rejected'" style="color:red;">
  ❌ Your work was rejected. Please resubmit.
</p>

      <a *ngIf="task.attachment_url"
     [href]="'http://localhost:5000/uploads/' + task.attachment_url"
     target="_blank">
     📎 View Uploaded Work
  </a>

    <!-- Upload Work -->
    <textarea [(ngModel)]="task.workLog" placeholder="Describe your work"></textarea>
  

    <input type="file" (change)="onFileSelect($event, task)">
    <input type="number" [(ngModel)]="task.hours" placeholder="Hours spent">

<button 
  (click)="submitWork(task)" 
  [disabled]="task.uploading || task.completion_status === 'approved'">
  {{ task.uploading ? 'Uploading...' : 'Submit Work' }}
</button>

    <!-- Mark Complete -->
    <button 
      *ngIf="task.status !== 'completed'"
      (click)="markComplete(task.id)">
      Mark Completed
    </button>

  </div>

</div>