<div class="tasks-page">
  <div class="header">
    <h1>Assign Task</h1>
    <p>Create and assign tasks to employees easily</p>
  </div>

  <div class="card">

    <div class="form-group">
      <label>Task Title</label>
      <input [(ngModel)]="task.title" placeholder="Enter task title">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="task.description" placeholder="Enter task details"></textarea>
    </div>

    <div class="form-group">
      <label>Assign To</label>
      <select [(ngModel)]="task.assigned_to">
        <option value="">Select Employee</option>
        <option *ngFor="let emp of employees" [value]="emp.org_user_id">
          {{ emp.name }} ({{ emp.employee_code }})
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Deadline</label>
      <input type="date" [(ngModel)]="task.deadline">
    </div>
    <div class="form-group">
  <label>Priority</label>
  <select [(ngModel)]="task.priority">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>
</div>

    <button (click)="assignTask()" class="btn-primary">
      Assign Task 
    </button>

  </div>
</div>